@import '../styles/utils.scss';

.container {
  padding-left: rem(200);
  padding-right: rem(200);
  min-height: 100vh;
  background: var(--mantine-color-gray-0);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top right, var(--mantine-color-blue-1), transparent 70%);
    z-index: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: rem(0);
    padding-right: rem(0);
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: rem(100);
    padding-right: rem(100);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: rem(50);
    padding-right: rem(50);
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding-left: rem(0);
    padding-right: rem(0);
  }
}
