@import '../../styles/utils.scss';
@import '../../styles/utils.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: rem(26px);
  font-weight: 900;
  font-family: 'Greycliff CF', var(--mantine-font-family);
}

/* Media queries for extra small screens */
@media (max-width: $mantine-breakpoint-xs) {
  .controls {
    flex-direction: column-reverse;
  }

  .control {
    width: 100%;
    text-align: center;
  }
}
