@import "../../../styles/utils.scss";
/* create.module.css */

.a1-format {
  width: 841mm;
  height: 594mm;
}

.a2-format {
  width: 594mm;
  height: 420mm;
}

.a3-format {
  width: 420mm;
  height: 297mm;
}

.a4-format {
  width: 297mm;
  height: 210mm;
}

.a5-format {
  width: 210mm;
  height: 148mm;
}

.a6-format {
  width: 148mm;
  height: 105mm;
}
